.container {
    display: flex;
    justify-content: space-around;
}

#bg-img {
    height: 100vh;
    width: 100vw;
    background: url('/Lesson02-HTML-CSS/homework/img/sarah-lee-328306-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100vw;
    background-color: papayawhip;
}

.navbar > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0 16px 0 16px;
}

.content {
    margin-top: 80px;
}


h1 {
    color: palevioletred;
    font-size: 4rem;
}

h3,
h4 {
    color: papayawhip;
    font-size: 2rem;
}

ul > li {
    list-style: none;
}

img {
    width: 400px;
    padding: 16px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: papayawhip;
    padding: 50px;
    border: 2px solid palevioletred;
    border-radius: 8px;
    margin-top: 70px;
}

#thirdDiv > ul li {
    padding: 0;
    margin: 0;
}

#spanId {
    font: 18px;
    margin: 50px;
}
